# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @squad-infra will be requested for
# review when someone opens a pull request.
*       @Nmbrs/devops

# Any documentation update must be reviewed by the product owner
*.md    @fargozhu
